    body {
        background-color: #EAF6F6
    }

    hr {
        background-color: #EAF6F6;
        border-style: dotted none none;
        border-color: #66BFBF;
        border-width: 5px;
        width: 10%;
    }

    h1{
        color: #66BFBF;
    }
    h2 {
        color: #66BFBF;
    }
    h5 {
        color: #66BFBF;
        font-size: 1em;
        line-height: .4;
    }